* {
  margin: 0;
  padding: 0;
}
body {
  background: #e9ecf4;
  color: #000;
  font-family: BlinkMacSystemFont;
}

.contenedor {
  width: 95%;
  margin: 20px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header  header  header "
    "contenido  contenido  sidebar"
    "widget1 widget  sidebar"
    "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
  background: #fff;
  border-radius: 4px;
}

.contenedor .header {
  background: #12203e;
  color: #fff;
  grid-area: header;
}

.contenedor .contenido {
  grid-area: contenido;
}

.contenedor .sidebar {
  grid-area: sidebar;
  background: #faa43d;
  min-height: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.contenedor .widget-2 {
  background: #55a8fe;
  color: #fff;
  height: 100px;
  grid-area: widget;
  display: grid;
  align-items: center;
  justify-content: center;
}

.contenedor .widget-1 {
  grid-area: widget1;
  height: 100px;
  color: #fff;
  background: #55a8fe;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor .footer {
  background: salmon;
  color: #fff;
  grid-area: footer;
}

/* responsive */

@media screen and (max-width: 768px) {
    .contenedor{
        grid-template-areas:
        "header  header  header "
        "contenido  contenido contenido"
        "sidebar sidebar  sidebar"
        "widget1 widget1  widget"
        "footer footer footer";
    }
}

@media screen and (max-width: 480px) {
    .contenedor{
        grid-template-areas:
        "header  header  header "
        "contenido  contenido contenido"
        "sidebar sidebar  sidebar"
        "widget1 widget1  widget1"
        "widget widget  widget"
        "footer footer footer";
    }
}
